<?xml version="1.0"?>
<launch>

	<node pkg="stage_ros" name="stageros" type="stageros" args="$(find rt_assignment2)/world/my_world.world" respawn="true"/>	
	
	<node pkg="rt_assignment2" name="bot_controller" type="controller_node1"  output="screen" respawn="true"/> 
	
	<node pkg="rt_assignment2" name="user_interface" type="gui_node" output="screen" required="true"/> 
	
</launch>


