<?xml version="1.0"?>
<launch>
	<!--	Simulation environment	-->
	<node pkg="stage_ros" name="stageros" type="stageros" args="$(find rt_assignment2)/world/my_world.world" respawn="true"/>
	<!-- The respawn argument is set to true so that the node always executes as long as the user wants so -->
	
	<!--	Bot controller node	-->
	<node pkg="rt_assignment2" name="bot_controller" type="bot_controller_node" respawn="true"/> 
	<!-- The respawn argument is set to true so that the node always executes as long as the user wants so -->
	
	<!--	User interface node	-->
	<node pkg="rt_assignment2" name="bot_user_interface" type="bot_ui_node" output="screen" required="true"/> 
	<!-- It is set as required so that, when it's killed by the user, the whole simulation is stopped  -->
</launch>


